<nav class="sidebar">
    <div class="brand">
        <a href="Home.html" class="brand-link">
        <h1>水槽の中の、</h1>
        <span>PERSONAL ARCHIVE</span>
    </div>

    <ul class="nav-menu">
        <li class="nav-item">
            <a href="Home.html" class="nav-link">
                <span class="nav-text">Home</span>
            </a>
        <li class="nav-item has-submenu">
            <a href="#" class="nav-link parent-link">
                <span class="nav-text">Texts</span>
                <span class="toggle-icon">▼</span>
            </a>
            
            <ul class="submenu">
                <li><a href="log.html">Log</a></li>
                <li><a href="Music.html">Music</a></li>
                <li><a href="aquariums.html">Aquariums</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="about.html" class="nav-link">
                <span class="nav-text">About Me</span>
            </a>
        </li>
    </ul>

<div class="sidebar-footer">
        <a href="#" id="btn-prev">&lt; PREV</a>
        
        <a href="log.html" id="btn-menu" style="text-decoration:none; color:var(--gray-text);">MENU</a>
        
        <a href="#" id="btn-next">NEXT &gt;</a>
    </div>
</nav>